{* Latte template *}

{block content}

<div class="container">
    
    <div class="row">
	<div class="col-md-12">
	    <div class="page-header">
		<a n:href="Homepage:"> <button class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left"></span> Zpet </button> </a>
	    </div>
	    
	    {control newCard}
	</div>
    </div>
    
    
</div>